@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* line 3, ../sass/_common.sass */
html {
  font-size: 100%;
}

/* line 5, ../sass/_common.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  font-size: 100%;
  background: #f1f1f1;
  color: #000000;
  text-align: left;
  font-weight: 400;
}

/* line 13, ../sass/_common.sass */
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.2;
  color: #130e53;
}

/* line 20, ../sass/_common.sass */
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.25;
  color: #130e53;
}

/* line 27, ../sass/_common.sass */
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 27px;
  font-weight: 800;
  line-height: 1;
  color: #130e53;
}

/* line 34, ../sass/_common.sass */
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #130e53;
}

/* line 41, ../sass/_common.sass */
p {
  margin-bottom: 0;
  font-size: 16px;
}

/* line 45, ../sass/_common.sass */
.dark-blue {
  color: #130e53;
}

/* line 47, ../sass/_common.sass */
.blue {
  color: #00aeef;
}

/* line 49, ../sass/_common.sass */
.blue1 {
  color: #5c579f;
}

/* line 51, ../sass/_common.sass */
.blue2 {
  color: #4285f4;
}

/* line 53, ../sass/_common.sass */
.red {
  color: #ea4335;
}

/* line 55, ../sass/_common.sass */
.yellow {
  color: #fbd444;
}

/* line 57, ../sass/_common.sass */
.yellow1 {
  color: #fbbc05;
}

/* line 59, ../sass/_common.sass */
.green {
  color: #00ff00;
}

/* line 61, ../sass/_common.sass */
.green1 {
  color: #34a853;
}

/* line 64, ../sass/_common.sass */
.radius-15 {
  border-radius: 15px;
}

/* line 67, ../sass/_common.sass */
.bg-dark-blue {
  background: #130e53;
}

/* line 70, ../sass/_common.sass */
.button-link {
  display: inline-block;
  background: #130e53;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 18px;
  font-weight: 700;
}
/* line 78, ../sass/_common.sass */
.button-link:hover, .button-link:focus {
  color: #ffffff;
  text-decoration: none;
}

/* line 84, ../sass/_common.sass */
.ev-office > div:first-child {
  flex-shrink: 0;
}
/* line 86, ../sass/_common.sass */
.ev-office > div:last-child {
  margin-left: 30px;
}
/* line 89, ../sass/_common.sass */
.ev-office > div:last-child .rounded-panel {
  height: 100%;
  border-radius: 15px;
  padding: 13px 25px;
}

/* line 95, ../sass/_common.sass */
.call-to-action .button-link {
  min-width: 240px;
}

/* line 98, ../sass/_common.sass */
.top-picture {
  position: relative;
  border-radius: 15px;
  height: 380px;
  background: center center no-repeat #ffffff;
  background-size: cover;
  margin-top: 115px;
  margin-bottom: 30px;
}
/* line 107, ../sass/_common.sass */
.top-picture .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  text-align: center;
}
/* line 117, ../sass/_common.sass */
.top-picture .content p:first-child {
  font-size: 64px;
  font-weight: 800;
  color: #130e53;
}

/* line 122, ../sass/_common.sass */
.tile {
  border-radius: 15px;
  background: #ffffff;
  height: 125px;
  padding: 30px 10px 0;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #4c4c4c;
  line-height: 1.25;
}
/* line 133, ../sass/_common.sass */
.tile.big-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  background: url(/images/logo-bg.png) center center no-repeat #130e53;
  height: 280px;
  padding: 20px 15px 20px;
  font-weight: 400;
  font-size: 16px;
}
/* line 145, ../sass/_common.sass */
.tile.big-tile .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  border-radius: 15px;
  opacity: 0.4;
}
/* line 154, ../sass/_common.sass */
.tile.big-tile p {
  position: relative;
  max-width: 50%;
}
/* line 157, ../sass/_common.sass */
.tile.big-tile h2 {
  position: relative;
  color: #ffffff;
}

/* line 161, ../sass/_common.sass */
.flex-tile-wrapper {
  display: flex;
  justify-content: center;
}
/* line 165, ../sass/_common.sass */
.flex-tile-wrapper .tile {
  width: 20%;
  margin-left: 13px;
  margin-right: 13px;
  -moz-transition: background 0.5s, color 0.5s;
  -o-transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}
/* line 171, ../sass/_common.sass */
.flex-tile-wrapper .tile:first-child {
  margin-left: 0;
}
/* line 173, ../sass/_common.sass */
.flex-tile-wrapper .tile:last-child {
  margin-right: 0;
}
/* line 175, ../sass/_common.sass */
.flex-tile-wrapper .tile:hover, .flex-tile-wrapper .tile:focus {
  background: #130e53;
  color: #00aeef;
}

/* line 3, ../sass/partials/_header.sass */
#header {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 7, ../sass/partials/_header.sass */
#header .sticky {
  display: none;
}
/* line 9, ../sass/partials/_header.sass */
#header .main {
  justify-content: space-between;
  align-items: center;
}
/* line 13, ../sass/partials/_header.sass */
#header .main .navbar {
  border-radius: 0;
  min-height: 0;
  margin-bottom: 0;
  border: none;
}
/* line 21, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li > a {
  color: #130e53;
}
/* line 24, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li > a:hover, #header .main .navbar .navbar-nav > li > a:focus {
  background: none;
}
/* line 27, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li.dropdown .dropdown-toggle {
  padding-right: 17px;
  background: url(/images/icons/arrow-down.png) top 22px right no-repeat;
}
/* line 30, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li.dropdown .dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding: 0;
  min-width: 0;
  font-size: 16px;
}
/* line 39, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li.dropdown .dropdown-menu li a {
  padding: 3px 10px;
  color: #130e53;
  background: #ffffff;
}
/* line 44, ../sass/partials/_header.sass */
#header .main .navbar .navbar-nav > li.dropdown .dropdown-menu li a:hover {
  color: #00aeef;
  background: #130e53;
}

/* line 51, ../sass/partials/_header.sass */
#header-sticky-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 59, ../sass/partials/_header.sass */
#header-sticky-wrapper.is-sticky #header {
  background: rgba(255, 255, 255, 0.7);
}
/* line 62, ../sass/partials/_header.sass */
#header-sticky-wrapper.is-sticky #header .not-sticky {
  display: none;
}
/* line 64, ../sass/partials/_header.sass */
#header-sticky-wrapper.is-sticky #header .sticky {
  display: block;
}
/* line 66, ../sass/partials/_header.sass */
#header-sticky-wrapper.is-sticky #header .pb-0-sticky {
  padding-bottom: 0;
}

/* line 3, ../sass/partials/_footer.sass */
#footer {
  text-align: center;
  background: #130e53;
  color: #ffffff;
  padding-top: 120px;
}
/* line 9, ../sass/partials/_footer.sass */
#footer a {
  color: #ffffff;
}
/* line 12, ../sass/partials/_footer.sass */
#footer a.green {
  color: #00ff00;
}
/* line 14, ../sass/partials/_footer.sass */
#footer ul {
  padding-left: 0;
  list-style: none;
}
/* line 18, ../sass/partials/_footer.sass */
#footer ul li {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 22, ../sass/partials/_footer.sass */
#footer .bottom {
  font-size: 12px;
  border-top: 1px solid #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 29, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form {
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 15px;
  margin-bottom: -40px;
}
/* line 35, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form .flex {
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 39, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form .flex input[type=text],
#feedback-widget #feedback-form .flex input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  height: 34px;
}
/* line 44, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form .flex input[type=text] {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #b3b3b3;
  color: #000000;
  background: #f2efef;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  width: 100%;
  padding: 10px 10px;
}
/* line 61, ../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#feedback-widget #feedback-form .flex input[type=text]:-moz-placeholder {
  color: #b3b3b3;
}
/* line 64, ../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#feedback-widget #feedback-form .flex input[type=text]::-moz-placeholder {
  color: #b3b3b3;
}
/* line 67, ../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#feedback-widget #feedback-form .flex input[type=text]:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 56, ../../../../../../Ruby31-x64/lib/ruby/gems/3.1.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
#feedback-widget #feedback-form .flex input[type=text]::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 58, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form .flex input[type=submit] {
  color: #ffffff;
  background: #130e53;
  width: 120px;
}
/* line 62, ../sass/partials/_footer.sass */
#feedback-widget #feedback-form .flex .errorMessage {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}

/* line 5, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper {
  position: relative;
}
/* line 9, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .slider .slick-slide {
  background: center center no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: 640px;
}
/* line 15, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .slider .slick-slide .content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 30px 15px;
  font-weight: 700;
  color: #ffffff;
}
/* line 26, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .slider .slick-slide .content .top p:first-child {
  line-height: 1;
}
/* line 28, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .slider .slick-slide .content .top p:last-child {
  width: 60%;
}
/* line 30, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .arrow-left,
.index-page .welcome-slider .slider-wrapper .arrow-right {
  position: absolute;
  top: 45%;
  width: 36px;
  height: 36px;
  background: url(/images/icons/arrow-right.png) center center no-repeat #ffffff;
  border-radius: 100%;
  cursor: pointer;
}
/* line 39, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .arrow-left {
  left: -60px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 42, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-wrapper .arrow-right {
  right: -60px;
}
/* line 45, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-nav .slick-dots {
  padding-left: 0;
  list-style: none;
}
/* line 49, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-nav .slick-dots li {
  display: inline-block;
}
/* line 52, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-nav .slick-dots li span {
  display: inline-block;
  background: #999999;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
/* line 63, ../sass/pages/_index.sass */
.index-page .welcome-slider .slider-nav .slick-dots li.slick-active span {
  opacity: 1;
}
/* line 66, ../sass/pages/_index.sass */
.index-page .services .service {
  display: flex;
  background: #ffffff;
  border-radius: 15px;
  margin-top: 170px;
}
/* line 73, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 0 25px 15px;
}
/* line 78, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div {
  height: 50%;
}
/* line 81, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div:first-child {
  color: #130e53;
  font-size: 72px;
  font-weight: 800;
  align-content: center;
}
/* line 86, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div:last-child {
  align-content: flex-end;
}
/* line 90, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div:last-child p:first-child {
  color: #00aeef;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 5px;
}
/* line 95, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div:last-child p:nth-child(2) {
  color: #130e53;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 15px;
}
/* line 102, ../sass/pages/_index.sass */
.index-page .services .service > div:first-child > div:last-child p:nth-child(3) a {
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
}
/* line 106, ../sass/pages/_index.sass */
.index-page .services .service > div:last-child {
  flex-shrink: 0;
}
/* line 109, ../sass/pages/_index.sass */
.index-page .services .service > div:last-child img {
  border-radius: 15px;
}
/* line 111, ../sass/pages/_index.sass */
.index-page .services .service:first-child {
  margin-top: 0;
}
/* line 113, ../sass/pages/_index.sass */
.index-page .grid {
  display: grid;
  grid-template-columns: 1fr 0.62fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
/* line 119, ../sass/pages/_index.sass */
.index-page .grid .horizontal {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
/* line 124, ../sass/pages/_index.sass */
.index-page .grid .vertical {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* line 133, ../sass/pages/_index.sass */
.index-page .reviews .slider .slick-slide .stars img {
  display: inline;
}
/* line 136, ../sass/pages/_index.sass */
.index-page .reviews .slider-nav .slick-dots {
  padding-left: 0;
  list-style: none;
}
/* line 140, ../sass/pages/_index.sass */
.index-page .reviews .slider-nav .slick-dots li {
  display: inline-block;
}
/* line 143, ../sass/pages/_index.sass */
.index-page .reviews .slider-nav .slick-dots li span {
  display: inline-block;
  background: #999999;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  opacity: 0.5;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
/* line 154, ../sass/pages/_index.sass */
.index-page .reviews .slider-nav .slick-dots li.slick-active span {
  opacity: 1;
}

/* line 4, ../sass/pages/_about.sass */
.about-page .quote-section {
  text-align: center;
  background: #130e53;
  font-weight: 600;
  color: #ffffff;
  border-radius: 15px;
  padding: 15px 25px;
  max-width: 490px;
}
/* line 13, ../sass/pages/_about.sass */
.about-page .quote-section a {
  color: #ffffff;
  text-decoration: underline;
}
