@import base

html
    font-size: 100%
body
    +default-font
    position: relative
    font-size: 100%
    background: $light-grey
    color: $black
    text-align: left
    font-weight: 400
h1
    margin-top: 0
    margin-bottom: 0
    font-size: 48px
    font-weight: 400
    line-height: 1.2
    color: $dark-blue
h2
    margin-top: 0
    margin-bottom: 0
    font-size: 28px
    font-weight: 400
    line-height: 1.25
    color: $dark-blue
h3
    margin-top: 0
    margin-bottom: 0
    font-size: 27px
    font-weight: 800
    line-height: 1
    color: $dark-blue
h4
    margin-top: 0
    margin-bottom: 0
    font-size: 24px
    font-weight: 700
    line-height: 1
    color: $dark-blue
p
    margin-bottom: 0
    font-size: 16px

.dark-blue
    color: $dark-blue
.blue
    color: $blue
.blue1
    color: $blue1
.blue2
    color: $blue2
.red
    color: $red
.yellow
    color: $yellow
.yellow1
    color: $yellow1
.green
    color: $green
.green1
    color: $green1

.radius-15
    border-radius: 15px

.bg-dark-blue
    background: $dark-blue

.button-link
    display: inline-block
    background: $dark-blue
    color: $white
    border-radius: 5px
    padding: 8px 18px
    font-weight: 700

    &:hover, &:focus
        color: $white
        text-decoration: none