public_html/uploads/*
public_html/logs/*
public_html/assets/*
public_html/admin/assets/*
public_html/bin-debug.3
app/config/settings.php
upload
.DS_Store
app/data/album_source
app/runtime/*
cgi-bin
!.gitkeep
.idea
composer/vendor/*
__design
public_html/__sitemap_generator/data/*
public_html/.sass-cache/*